<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<footer class="container-flex footer col-6" style="text-align:center;">
    <div class="col"></div>
    <div class="col-6">
    Copyright &#169; 2017-{{{year}}} <a href="https://www.apache.org/">The Apache Software Foundation.</a> All rights reserved.<br/>
    Apache PLC4X, PLC4X, Apache, the Apache feather logo, and the Apache PLC4X project logo are either registered
    trademarks or trademarks of The Apache Software Foundation in the United States and other countries. All other marks
    mentioned may be trademarks or registered trademarks of their respective owners.
    <br/>
    </div>
    <div>Home screen image taken from <a
        href="https://flic.kr/p/chEftd">Flickr</a>, "Tesla Robot Dance" by Steve Jurvetson, licensed
        under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0 Generic</a>, image cropped
        and blur effect added.
    </div>
    <div class="col"></div>
</footer>
